img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: block;
    justify-content: center;
}

.content {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
             -2px -2px 5px 0 rgba(0,0,0,.1),
            2px 2px 5px 0 rgba(0,0,0,.1),
            -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #ef6d6d;
    background-clip: border-box;
    border-radius: 15px;
    padding: 7px 7px;
    color: white;
    max-width: 500px;
}
a {
    text-decoration: none;
    color: black;
}