.result {
    display: flex;
    transition: .2s linear;
    border-radius: 5px;
    text-align:center;
    background-size: cover;
    background-color: #f6f69e;
    font-size: large;
    padding: .8571429em 1.1428571em;
}

h2 {
  font-size: x-large;
}

input {
    font-size: large;
    width: 50%
}
.span-block {
  text-align:center;
}
.span-block span {
  display: inline-block;
  margin: 15px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  transition: .2s linear;
}
.span-block span{
  background: #d4f597;
  width: 60%;
}
.span-block span:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 6px #d4f597;
}

