.button {
  background-color: #964caf;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  transition: .2s linear;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover{
  box-shadow: 0 0 0 3px white, 0 0 0 6px #964caf;
  cursor: pointer;
}


input {
  background-color: #964caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: .2s linear;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  border-radius: 20px;
  transition: 1s linear;
}

.content  {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table {
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
             -2px -2px 5px 0 rgba(0,0,0,.1),
            2px 2px 5px 0 rgba(0,0,0,.1),
            -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
}
table  {
    border-collapse: separate;
    border-spacing: 10px 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}
th, td {
    padding: 20px 15px;
    border-collapse: collapse;
    border-left: 3px solid #39b64e;
}